<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
    <title>لــو خيروك</title>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap-rtl.min.css">
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">

    <!-- favicon -->
    <link type="text/css" rel="icon" href="images/favicon.ico">

</head>

<body>

    <div class="wrapper  col-xs-12">
        <div class="mobile-nav">
            <div class="mobile-search">
                <form action="#" method="get">
                    <input type="search" placeholder="إبحث من هنا .." class="form-control">
                </form>
            </div>
            <ul class="mob-usr-logged">
                <li>
                    <a href="submit-question.html">

                        <i class="fa fa-plus"></i>أضف سؤالك
                    </a>
                </li>
                <li>
                    <a href="profile.html">

                        <i class="fa fa-user"></i>حسابي
                    </a>
                </li>
                <li>
                    <a href="profile.html#favourites">

                        <i class="fa fa-star"></i>المفضلة
                    </a>
                </li>
                <li>
                    <a href="profile.html#my_setting">

                        <i class="fa fa-cog"></i>الاعدادات
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-power-off"></i>خروج
                    </a>
                </li>
            </ul>
            <ul class="mob-visitor">
                <li>
                    <a href="submit-question.html">

                        <i class="fa fa-plus"></i>أضف سؤالك
                    </a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#myModal">

                        <i class="fa fa-user"></i>تسجيل دخول
                    </a>
                </li>
                <li>
                    <a href="sign-up.html">

                        <i class="fa fa-user-plus"></i>تسجيل عضوية
                    </a>
                </li>
            </ul>
        </div>
        <!-- end mobile-nav -->
        <div class="mask-inner col-xs-12">
            <header>
                <div class="ads">
                    <div class="container">
                        <div class="ads-mask">
                            <h3>
                        <a href="#">منطقة مخصصة لوضع الاعلانات</a>
                    </h3>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end ads -->

                <div class="navigation">
                    <div class="container">
                        <div class="logo col-md-3 col-sm-3 col-xs-3">
                            <h1>
                            <a href="index.html" title="لو خيروك">
                                <img src="images/logo.png" alt="">
                            </a>
                                لو خيروك
                        </h1>
                        </div>
                        <!-- end logo -->


                        <div class="search-box col-md-4 col-sm-8 col-xs-8">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="إبحث عن اسئلــة ؟">
                                <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                            </div>
                        </div>
                        <!-- end search-box -->


                        <div class="nav-tools col-md-5 col-sm-1 col-xs-1">
                            <ul class="login-user">
                                <li>
                                    <a href="#">
                                        <span>أضف سؤالك</span>
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <img src="images/avatar5.png" alt="">
                                        <span>Amir Nageh</span>
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="profile.gtml">
                                                <i class="fa fa-user"></i> حسابي
                                            </a>
                                        </li>
                                        <li>
                                            <a href="profile.html#favourites">
                                                <i class="fa fa-star"></i> المفضلة
                                            </a>
                                        </li>
                                        <li>
                                            <a href="profile.html#my_settings">
                                                <i class="fa fa-cog"></i> الاعدادت
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-power-off"></i> خروج
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                            <ul class="visitor">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-plus"></i> أضف سؤالك
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="modal" data-target="#myModal">
                                        <i class="fa fa-user"></i> تسجيل الدخول
                                    </a>
                                </li>
                                <li>
                                    <a href="sign-up.html">
                                        <i class="fa fa-user-plus"></i> تسجيل عضوية
                                    </a>
                                </li>
                            </ul>
                            <button type="button" class="show-nav-mob">
                                <i class="fa fa-outdent"></i>
                            </button>
                        </div>
                        <!-- end nav-tools -->
                    </div>
                    <!-- end container -->

                </div>
                <!-- end navigation -->

                <div class="questions">
                    <div class="container">
                        <div class="ques-head">
                            <h3>هل تعتقد ان ؟</h3>
                            <p>نص اضافي مخفي </p>
                        </div>
                        <!-- end ques-head -->
                        <div class="block col-md-6 col-xs-12 first-card">
                            <div class="inner orange-card">
                                <div class="choice-result">
                                    <span>
                                    <i class="fa fa-check"></i>
                                </span>
                                    <h2>
                                    <b class="count-num">75</b>%
                                </h2>
                                    <p>391,006 غير موافق</p>
                                </div>
                                <!-- end choice-reult -->
                                <h3>هل تعتقد وصول مصر لكأس العالم روسيا 2018</h3>
                            </div>
                            <!-- end inner -->
                        </div>
                        <!-- end block -->
                        <div class="block col-md-6 col-xs-12">
                            <div class="inner blue-card">
                                <div class="choice-result">
                                    <span>
                                    <i class="fa fa-check"></i>
                                </span>
                                    <h2>
                                    <b class="count-num1">25</b>%
                                </h2>
                                    <p>391,006 موافق</p>
                                </div>
                                <!-- end choice-reult -->
                                <h3>أم سيظل مجدي عبد الغني يذل فينا</h3>
                            </div>
                            <!-- end inner -->
                        </div>
                        <!-- end block -->
                        <div class="ques-btn">
                            <a href="#" class="arrow-right">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                            <a href="#" class="arrow-left">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                        </div>
                        <!-- end ques-btn -->
                        <div class="ques-divider">
                            <h3>أو</h3>
                        </div>
                        <!-- end ques-divider -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end questions -->
            </header>

            <div class="main-content col-xs-12">

                <div class="question-data col-xs-12">
                    <div class="container">
                        <div class="question-name col-md-7 col-sm-6 col-xs-12">
                            <h3>قرعة كأس العالم</h3>
                            <span>بواسطة : </span>
                            <a href="#">Amir Nageh</a>
                        </div>
                        <!-- end questio-name -->
                        <div class="question-btns col-md-5 col-sm-6 col-xs-12">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="السؤال التالي">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="السؤال السابق">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tooltip" data-placement="bottom" title="أضف للمفضلة" class="add-fav">
                                        <i class="fa fa-star"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- end questio-name -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end question-data -->
                <div class="content-box col-xs-12">
                    <div class="container">
                        <div class="content-right col-md-7 col-xs-12">
                            <div class="ques-statics">
                                <ul>
                                    <li>
                                        <span class="fa fa-group"></span>
                                        <p>1,545,922 صوت</p>
                                    </li>
                                    <li>
                                        <span class="fa fa-link"></span>
                                        <p>http://wyr.be/s2bzhf</p>
                                    </li>
                                    <li>
                                        <span class="fa fa-tags"></span>
                                        <a href="#">كرة قدم</a>
                                        <a href="#">كأس العالم</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end ques-statics -->
                            <div class="ques-comments col-xs-12">
                                <div class="comments-head col-xs-12">
                                    <h3>1.101 تعليق</h3>
                                    <button type="button" class="show-com-text">
                                        <i class="fa fa-comment"></i> اضف تعليقاً
                                    </button>
                                    <div class="add-comment">
                                        <form action="#" method="get" class="input-group">
                                            <input type="text" class="form-control" placeholder="أكتب تعليقك...">
                                            <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            تعليق
                                        </button>
                                        </span>
                                        </form>
                                    </div>
                                    <!-- end add-comment -->
                                </div>
                                <!-- end comments-head -->
                                <div class="comments-box col-xs-12">
                                    <ul>
                                        <li class="media">
                                            <div class="comment-inner">
                                                <div class="avatar">
                                                    <img src="images/avatar5.png" alt="">
                                                    <div class="counter c-blue">
                                                        <span>125</span>
                                                    </div>
                                                </div>
                                                <div class="usr-data">
                                                    <a href="#" class="commenter-name">Amir nageh</a>
                                                    <span>منذ شهر واحد</span>
                                                    <p>نص تجريبي لاول تعليق علي هذا السؤال </p>
                                                    <div class="comment-setting">
                                                        <a href="#">موافق</a>
                                                        <a data-scroll href="#comment-area" class="show-post-text">تعليق</a>
                                                        <a class="collapse-replies">
                                                        رؤية المزيد
                                                        <i class="fa fa-angle-down"></i> 
                                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end comment-inner -->
                                            <ul class="children-comments">
                                                <li class="media">
                                                    <div class="comment-inner">
                                                        <div class="avatar">
                                                            <img src="images/avatar5.png" alt="">
                                                            <div class="counter c-red">
                                                                <span>125</span>
                                                            </div>
                                                        </div>
                                                        <div class="usr-data">
                                                            <a href="#" class="commenter-name">Amir nageh</a>
                                                            <span>منذ شهر واحد</span>
                                                            <p>نص تجريبي لاول تعليق علي هذا السؤال </p>
                                                            <div class="comment-setting">
                                                                <a href="#">موافق</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end comment-inner -->
                                                </li>
                                                <li class="media">
                                                    <div class="comment-inner">
                                                        <div class="avatar">
                                                            <img src="images/avatar5.png" alt="">
                                                            <div class="counter c-red">
                                                                <span>125</span>
                                                            </div>
                                                        </div>
                                                        <div class="usr-data">
                                                            <a href="#" class="commenter-name">Amir nageh</a>
                                                            <span>منذ شهر واحد</span>
                                                            <p>نص تجريبي لاول تعليق علي هذا السؤال </p>
                                                            <div class="comment-setting">
                                                                <a href="#">موافق</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end comment-inner -->
                                                </li>
                                                <li>
                                                    <div id="comment-area">
                                                        <form action="#" method="get" class="input-group">
                                                            <input type="text" class="form-control" placeholder="أكتب تعليقك..." autofocus>
                                                            <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            تعليق
                                        </button>
                                        </span>
                                                        </form>
                                                    </div>
                                                    <!-- end add-comment -->
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="media">
                                            <div class="comment-inner">
                                                <div class="avatar">
                                                    <img src="images/avatar5.png" alt="">
                                                    <div class="counter c-blue">
                                                        <span>125</span>
                                                    </div>
                                                </div>
                                                <div class="usr-data">
                                                    <a href="#" class="commenter-name">Amir nageh</a>
                                                    <span>منذ شهر واحد</span>
                                                    <p>نص تجريبي لاول تعليق علي هذا السؤال </p>
                                                    <div class="comment-setting">
                                                        <a href="#">موافق</a>
                                                        <a href="#">تعليق</a>
                                                        <a href="#">
                                                        رؤية المزيد
                                                        <i class="fa fa-angle-down"></i> 
                                                    </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end comment-inner -->
                                            <ul class="children-comments">
                                                <li class="media">
                                                    <div class="comment-inner">
                                                        <div class="avatar">
                                                            <img src="images/avatar5.png" alt="">
                                                            <div class="counter c-blue">
                                                                <span>125</span>
                                                            </div>
                                                        </div>
                                                        <div class="usr-data">
                                                            <a href="#" class="commenter-name">Amir nageh</a>
                                                            <span>منذ شهر واحد</span>
                                                            <p>نص تجريبي لاول تعليق علي هذا السؤال </p>
                                                            <div class="comment-setting">
                                                                <a href="#">موافق</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end comment-inner -->
                                                </li>
                                                <li class="media">
                                                    <div class="comment-inner">
                                                        <div class="avatar">
                                                            <img src="images/avatar5.png" alt="">
                                                            <div class="counter c-red">
                                                                <span>10</span>
                                                            </div>
                                                        </div>
                                                        <div class="usr-data">
                                                            <a href="#" class="commenter-name">Amir nageh</a>
                                                            <span>منذ شهر واحد</span>
                                                            <p>نص تجريبي لاول تعليق علي هذا السؤال </p>
                                                            <div class="comment-setting">
                                                                <a href="#">موافق</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end comment-inner -->
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="more-comments col-xs-12">
                                        <button type="button">
                                            <i class="fa fa-refresh"></i> إظهار المزيد
                                        </button>
                                    </div>
                                </div>
                                <!-- end comments-box -->
                            </div>
                            <!-- end ques-comments -->
                        </div>
                        <!-- end contnent-right -->

                        <div class="content-left col-md-5 col-xs-12">
                            <div class="ads">
                                <div class="ads-mask">
                                    <h3>
                                    <a href="#">منطقة مخصصة لوضع الاعلانات</a>
                                </h3>
                                </div>
                            </div>
                            <!-- end ads -->
                            <div class="recent-widget col-xs-12">
                                <div class="widget-head col-xs-12">
                                    <h2>اخر الاجابات</h2>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <p>انت تعتقد اننا
                                                <span>سنذهب لكاس العالم روسيا 2018</span> عن ان الكابتن مجدي هيفضل يذل فينا
                                            </p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <p>انت تعتقد اننا
                                                <span>سنذهب لكاس العالم روسيا 2018</span> عن ان الكابتن مجدي هيفضل يذل فينا
                                            </p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <p>انت تعتقد اننا
                                                <span>سنذهب لكاس العالم روسيا 2018</span> عن ان الكابتن مجدي هيفضل يذل فينا
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="all-answers col-xs-12">
                                    <a href="#">
                                    إظهار جميع الإجابات
                                    <i class="fa fa-angle-double-left"></i> 
                                </a>
                                </div>
                            </div>
                            <!-- end recent-widget -->
                            <div class="mobile-widget col-xs-12">
                                <div class="widget-head col-xs-12">
                                    <h2>تطبيق لو خيروك</h2>
                                </div>
                                <div class="mob-img col-md-6 col-xs-12">
                                    <img src="images/m.png" alt="">
                                </div>
                                <div class="mob-data col-md-6 col-xs-12">
                                    <p>تستطيع الان الحصول علي تطبيق الموبايل الخاص بالموقع من خلال </p>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-android"></i> متجر اندرويد
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-apple"></i> متجر اَبل
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end mobile-widget -->
                        </div>
                        <!-- end contnent-left -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end content-box -->
            </div>
            <!-- end main-content -->
            <div class="sticky col-xs-12">
                <div class="top-sticky col-xs-12">
                    <span>ايهما تفضل ..</span>
                    <p class="toTop">
                        الذهاب للأعلي
                        <i class="fa fa-angle-double-up"></i>
                    </p>
                </div>
                <div class="bottom-sticky col-xs-12">
                    <div class="block-perc col-md-6 col-xs-6 orange-card">
                        <p>
                            هل تعتقد وصول مصر لكأس العالم روسيا 2018
                            <span>75%</span>
                        </p>
                    </div>
                    <div class="ques-divider">
                        <h3>أو</h3>
                    </div>
                    <!-- end ques-divider -->
                    <div class="block-perc col-md-6 col-xs-6 blue-card">
                        <p>
                            أم سيظل مجدي عبد الغني يذل فينا
                            <span>25%</span>
                        </p>
                    </div>

                </div>
            </div>
            <footer>
                <div class="footer-body col-xs-12">
                    <div class="container">
                        <div class="rights col-md-6 col-sm-6 col-xs-6">
                            <p>
                                جميع الحقوق محفوظة &copy; 2016 لموقع لو خيروك
                            </p>
                            <ul>
                                <li>
                                    <a href="#">اعلن في الموقع</a>
                                </li>
                                <li>
                                    <a href="#">اتصل بنا</a>
                                </li>
                            </ul>
                        </div>
                        <div class="votes col-md-6 col-sm-6 col-xs-6">
                            <p>
                                <img src="images/favicon.ico" alt="">
                                <span>154.790.443 صوت</span>
                            </p>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
            </footer>
        </div>
        <!-- end mask-inner -->
        <div class="wrap-pop col-xs-12"></div>
        
        <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">تسجيل دخول</h4>
      </div>
      <div class="modal-body sign-in">
        <form action="#" method="get">
                                        <div class="btn-group">
                                               <button type="button">
                                               		<i class="fa fa-facebook"></i>
                                                    دخول من خلال فيسبوك
                                               </button>
                                            </div>
                                            <div class="input-group">
                                                <label for="usr-mail">
                                                    <span>البريد الالكتروني</span>
                                                </label>
                                                <input type="email" id="usr-mail" class="form-control">
                                            </div>
                                            <div class="input-group">
                                                <label for="usr-pass">
                                                    <span>الرقم السري</span>
                                                </label>
                                                <input type="password" id="usr-pass" class="form-control">
                                            </div>
                                            
                                            <div class="links-group">
                                                <ul>
                                                	<li>
                                                    	<a href="forget.html">نسيت كلمة المرور ؟</a>
                                                    </li>
                                                    <li>
                                                    	<a href="sign-up.html">تسجيل حساب جديد</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">دخول</button>
        <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> تذكر بياناتي
                                                                </label>
                                                            </div>
      </div>
    </div>
  </div>
</div>
    </div>
    <!-- end wrapper -->

    <!-- Js files -->
    <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-smoothscroll.js"></script>
    <script type="text/javascript" src="js/modernizr.min.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>