<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
    <title>لــو خيروك | صفحة خاصة بالعضو</title>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap-rtl.min.css">
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">

    <!-- favicon -->
    <link type="text/css" rel="icon" href="images/favicon.ico">

</head>

<body>

    <div class="wrapper  col-xs-12">
        <div class="mobile-nav">
            <div class="mobile-search">
                <form action="#" method="get">
                    <input type="search" placeholder="إبحث من هنا .." class="form-control">
                </form>
            </div>
            <ul class="mob-usr-logged">
                <li>
                    <a href="#">

                        <i class="fa fa-plus"></i>أضف سؤالك
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-user"></i>حسابي
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-star"></i>المفضلة
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-cog"></i>الاعدادات
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-power-off"></i>خروج
                    </a>
                </li>
            </ul>
            <ul class="mob-visitor">
                <li>
                    <a href="#">

                        <i class="fa fa-plus"></i>أضف سؤالك
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-user"></i>تسجيل دخول
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-user-plus"></i>تسجيل عضوية
                    </a>
                </li>
            </ul>
        </div>
        <!-- end mobile-nav -->
        <div class="mask-inner col-xs-12">
            <header>
                <div class="ads">
                    <div class="container">
                        <div class="ads-mask">
                            <h3>
                        <a href="#">منطقة مخصصة لوضع الاعلانات</a>
                    </h3>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end ads -->

                <div class="navigation">
                    <div class="container">
                        <div class="logo col-md-3 col-sm-3 col-xs-3">
                            <h1>
                            <a href="#" title="لو خيروك">
                                <img src="images/logo.png" alt="">
                            </a>
                                لو خيروك
                        </h1>
                        </div>
                        <!-- end logo -->


                        <div class="search-box col-md-4 col-sm-8 col-xs-8">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="إبحث عن اسئلــة ؟">
                                <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                            </div>
                        </div>
                        <!-- end search-box -->


                        <div class="nav-tools col-md-5 col-sm-1 col-xs-1">
                            <ul class="login-user" style="display:inline-block">
                                <li>
                                    <a href="#">
                                        <span>أضف سؤالك</span>
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <img src="images/avatar5.png" alt="">
                                        <span>Amir Nageh</span>
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user"></i> حسابي
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-star"></i> المفضلة
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-cog"></i> الاعدادت
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-power-off"></i> خروج
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                            <ul class="visitor" style="display:none">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-plus"></i> أضف سؤالك
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user"></i> تسجيل الدخول
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user-plus"></i> تسجيل عضوية
                                    </a>
                                </li>
                            </ul>
                            <button type="button" class="show-nav-mob">
                                <i class="fa fa-outdent"></i>
                            </button>
                        </div>
                        <!-- end nav-tools -->
                    </div>
                    <!-- end container -->

                </div>
                <!-- end navigation -->
            </header>

            <div class="main-content col-xs-12">
                <div class="content-box col-xs-12">
                    <div class="profile-content empty-course">
                        <div class="container">
                            <div class="content-right col-md-3 col-xs-12">
                                <div class="profile-image">
                                    <img src="images/avatar5.png" alt="">
                                </div>
                                <div class="profile_mob_data col-xs-12">
                                    <div class="user-name">
                                        <h3>Amir Nageh</h3>
                                        <p>القاهرة مصر المنصورة</p>
                                    </div>
                                    <div class="user-info">
                                        <ul>
                                            <li>
                                                <p>
                                                    <b>13</b>
                                                    <span>اسئلة مجابة</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <b>2</b>
                                                    <span>تعليقات</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <b>1</b>
                                                    <span>سؤال مرفوع</span>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="right_tap-box pull-right hidden-xs hidden-sm">
                                    <div class="right_box-inner">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active">

                                                <a href="#all_activity" aria-controls="all_activity" role="tab" data-toggle="tab">
                                                    <i class="fa fa-globe"></i> كل الأنشطة
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#answered_ques" aria-controls="answered_ques" role="tab" data-toggle="tab">
                                                    <i class="fa fa-thumbs-o-up"></i> الاسئلة المجاب عنها
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#uploaded-ques" aria-controls="uploaded-ques" role="tab" data-toggle="tab">
                                                    <i class="fa fa-cloud-upload"></i> الاسئلة المرفوعة
                                                </a>
                                            </li>

                                            <li role="presentation">
                                                <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">
                                                    <i class="fa fa-comments"></i> التعليقات
                                                </a>
                                            </li>

                                            <li role="presentation">
                                                <a href="#favourites" aria-controls="favourites" role="tab" data-toggle="tab">
                                                    <i class="fa fa-star"></i> المفضلة
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#my_setting" aria-controls="my_setting" role="tab" data-toggle="tab">
                                                    <i class="fa fa-cog"></i> الإعدادات
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-power-off"></i> خروج
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.right_box-inner -->
                                </div>
                                <!-- /.right_tap-box -->

                                <div class="mobile_tap-box col-md-12 col-xs-12 text-center hidden-lg hidden-md">
                                    <div class="right_box-inner">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active" data-toggle="tooltip" data-placement="top" title="كل الأنشطة">

                                                <a href="#all_activity" aria-controls="all_activity" role="tab" data-toggle="tab">
                                                    <i class="fa fa-globe"></i>
                                                </a>
                                            </li>
                                            <li role="presentation" data-toggle="tooltip" data-placement="top" title="الاسئلة المجاب عنها">
                                                <a href="#answered_ques" aria-controls="answered_ques" role="tab" data-toggle="tab">
                                                    <i class="fa fa-thumbs-o-up"></i>
                                                </a>
                                            </li>
                                            <li role="presentation" data-toggle="tooltip" data-placement="top" title="الاسئلة المرفوعة">
                                                <a href="#uploaded-ques" aria-controls="uploaded-ques" role="tab" data-toggle="tab">
                                                    <i class="fa fa-cloud-upload"></i>
                                                </a>
                                            </li>

                                            <li role="presentation" data-toggle="tooltip" data-placement="top" title="التعليقات">
                                                <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">
                                                    <i class="fa fa-comments"></i>
                                                </a>
                                            </li>

                                            <li role="presentation" data-toggle="tooltip" data-placement="top" title="المفضلة">
                                                <a href="#favourites" aria-controls="favourites" role="tab" data-toggle="tab">
                                                    <i class="fa fa-star"></i>
                                                </a>
                                            </li>
                                            <li role="presentation" data-toggle="tooltip" data-placement="top" title="الاعدادات">
                                                <a href="#my_setting" aria-controls="my_setting" role="tab" data-toggle="tab">
                                                    <i class="fa fa-cog"></i>
                                                </a>
                                            </li>

                                            <li role="presentation" data-toggle="tooltip" data-placement="top" title="خروج">
                                                <a href="#">
                                                    <i class="fa fa-power-off"></i>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <!-- /.right_box-inner -->
                                </div>
                                <!-- /.mobile_tap-box -->
                            </div>
                            <!-- end contnent-right -->

                            <div class="content-left  col-md-6 col-xs-12">
                                <div class="left_tap-box col-xs-12">
                                    <div class="left_box-inner">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in  active" id="all_activity">
                                                <ul>
                                                    <li class="fav-state">
                                                        <div class="state-icon">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="state-body">
                                                            <p>
                                                                مفضل <a href="#">قرعة كأس العالم</a>
                                                            </p>
                                                            <a href="#">حذف</a>
                                                            <time>منذ ساعة</time>
                                                        </div>
                                                    </li>
                                                    <li class="blue-choice">
                                                        <div class="state-icon">
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div class="state-body">
                                                            <p>
                                                                لقد قمت باختيار <span>صعود مصر لكاس العالم </span> بدلا من عدم الصعود للكاس
                                                            </p>
                                                            <a href="#">قرعة كأس العالم</a>
                                                            <time>منذ 15 دقيقة</time>
                                                        </div>
                                                    </li>
                                                    <li class="red-choice">
                                                        <div class="state-icon">
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div class="state-body">
                                                            <p>
                                                                لقد قمت باختيار <span>صعود مصر لكاس العالم </span> بدلا من عدم الصعود للكاس
                                                            </p>
                                                            <a href="#">قرعة كأس العالم</a>
                                                            <time>منذ 15 دقيقة</time>
                                                        </div>
                                                    </li>
                                                    <li class="comment-state">
                                                        <div class="state-icon">
                                                            <i class="fa fa-comment"></i>
                                                        </div>
                                                        <div class="state-body">
                                                            <p>
                                                                لقد قمت بالتعليق علي <a href="#">قرعة كاس العالم</a>
                                                            </p>
                                                            <div class="comment-text">
                                                                <p>اتمني صعود منتخب مصر لكاس العالم روسيا 2018 </p>
                                                            </div>
                                                            <time>منذ 15 دقيقة</time>
                                                        </div>
                                                    </li>
                                                    <li class="ask-state">
                                                        <div class="state-icon">
                                                            <i class="fa fa-question"></i>
                                                        </div>
                                                        <div class="state-body">
                                                            <p>
                                                                لقد قمت بوضع سؤال عن <span>صعود المنتخب المصري لكاس العالم</span>
                                                            </p>
                                                            <b>لم ينشر</b>
                                                            <time>منذ 15 دقيقة</time>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="more-activities">
                                                    <button type="button">
                                                        <i class="fa fa-refresh"></i> إظهار المزيد
                                                    </button>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="answered_ques">
                                                <ul>
                                                    <li class="blue-choice">
                                                        <div class="state-icon">
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div class="state-body">
                                                            <p>
                                                                لقد قمت باختيار <span>صعود مصر لكاس العالم </span> بدلا من عدم الصعود للكاس
                                                            </p>
                                                            <a href="#">قرعة كأس العالم</a>
                                                            <time>منذ 15 دقيقة</time>
                                                        </div>
                                                    </li>
                                                    <li class="red-choice">
                                                        <div class="state-icon">
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                        <div class="state-body">
                                                            <p>
                                                                لقد قمت باختيار <span>صعود مصر لكاس العالم </span> بدلا من عدم الصعود للكاس
                                                            </p>
                                                            <a href="#">قرعة كأس العالم</a>
                                                            <time>منذ 15 دقيقة</time>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="more-activities">
                                                    <button type="button">
                                                        <i class="fa fa-refresh"></i> إظهار المزيد
                                                    </button>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="uploaded-ques">
                                                <ul>
                                                    <li class="ask-state">
                                                        <div class="state-icon">
                                                            <i class="fa fa-question"></i>
                                                        </div>
                                                        <div class="state-body">
                                                            <p>
                                                                لقد قمت بوضع سؤال عن <span>صعود المنتخب المصري لكاس العالم</span>
                                                            </p>
                                                            <b>لم ينشر</b>
                                                            <time>منذ 15 دقيقة</time>
                                                        </div>
                                                    </li>
                                                    <li class="ask-state">
                                                        <div class="state-icon">
                                                            <i class="fa fa-question"></i>
                                                        </div>
                                                        <div class="state-body">
                                                            <p>
                                                                لقد قمت بوضع سؤال عن <span>صعود المنتخب المصري لكاس العالم</span>
                                                            </p>
                                                            <b>لم ينشر</b>
                                                            <time>منذ 15 دقيقة</time>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="more-activities">
                                                    <button type="button">
                                                        <i class="fa fa-refresh"></i> إظهار المزيد
                                                    </button>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="favourites">
                                                <ul>
                                                    <li class="fav-state">
                                                        <div class="state-icon">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="state-body">
                                                            <p>
                                                                مفضل <a href="#">قرعة كأس العالم</a>
                                                            </p>
                                                            <a href="#">حذف</a>
                                                            <time>منذ ساعة</time>
                                                        </div>
                                                    </li>
                                                    <li class="fav-state">
                                                        <div class="state-icon">
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                        <div class="state-body">
                                                            <p>
                                                                مفضل <a href="#">قرعة كأس العالم</a>
                                                            </p>
                                                            <a href="#">حذف</a>
                                                            <time>منذ ساعة</time>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="more-activities">
                                                    <button type="button">
                                                        <i class="fa fa-refresh"></i> إظهار المزيد
                                                    </button>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="comments">
                                                <ul>
                                                    <li class="comment-state">
                                                        <div class="state-icon">
                                                            <i class="fa fa-comment"></i>
                                                        </div>
                                                        <div class="state-body">
                                                            <p>
                                                                لقد قمت بالتعليق علي <a href="#">قرعة كاس العالم</a>
                                                            </p>
                                                            <div class="comment-text">
                                                                <p>اتمني صعود منتخب مصر لكاس العالم روسيا 2018 </p>
                                                            </div>
                                                            <time>منذ 15 دقيقة</time>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="more-activities">
                                                    <button type="button">
                                                        <i class="fa fa-refresh"></i> إظهار المزيد
                                                    </button>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="my_setting">
                                                <div class="setting-block col-xs-12">
                                                    <form action="#" method="get">
                                                        <div class="input-group">
                                                            <label for="user-name">
                                                                <span>اسم المستخدم</span>
                                                            </label>
                                                            <input type="text" class="form-control" id="user-name">
                                                        </div>
                                                        <div class="input-group">
                                                            <label for="location">
                                                                <span>مكان الاقامة</span>
                                                            </label>
                                                            <input type="text" class="form-control" id="location">
                                                        </div>
                                                        <div class="input-group">
                                                            <label for="gender">
                                                                <span>تصنيف بالجنسية</span>
                                                            </label>
                                                            <select class="form-control">
                                                                <option>ذكر</option>
                                                                <option>مؤنث</option>
                                                                <option>كلاهما</option>
                                                            </select>
                                                        </div>
                                                        <div class="checkbox adults">
                                                            <label>
                                                                <input type="checkbox"> تضمين اسئلة للبالغين
                                                            </label>
                                                        </div>
                                                        <div class="input-group">
                                                            <h3>الإشعارات</h3>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> أعلمني عند نشر سؤال جديد
                                                                </label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> أعلمني عند وجود تعليق جديد علي اسئلتي
                                                                </label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> أعلمني عند وجود رد لتعليقي
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="input-group">
                                                            <h3>الخصوصية</h3>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox"> إخفاء حسابي عن باقي الاعضاء
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">تحديث</button>
                                                    </form>
                                                    <form action="#" method="get">
                                                        <div class="password-group">
                                                            <h3>تعديل الرقم السري</h3>
                                                            <div class="input-group">
                                                                <label for="old-pass">
                                                                    <span>الرقم السري القديم</span>
                                                                </label>
                                                                <input type="password" class="form-control" id="old-pass">
                                                            </div>
                                                            <div class="input-group">
                                                                <label for="new-pass">
                                                                    <span>الرقم السري الجديد</span>
                                                                </label>
                                                                <input type="password" class="form-control" id="new-pass">
                                                            </div>
                                                            <div class="input-group">
                                                                <label for="confirm-pass">
                                                                    <span>تأكيد الرقم السري الجديد</span>
                                                                </label>
                                                                <input type="password" class="form-control" id="confirm-pass">
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">تحديث الرقم السري</button>
                                                    </form>
                                                    <div class="remove-acc">
                                                        <a href="#">حذف الحساب الخاص بي <i class="fa fa-angle-double-left"></i></a>
                                                        <p>هذا الحساب سوف يتوقف من الموقع . وتستطيع تشغيله ثانية بمجرد تسجيل الدخول فقط</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.tap-content -->
                                    </div>
                                    <!-- /.left_tap-box -->
                                </div>
                                <!-- /.left_tap-box -->
                            </div>
                            <!-- end contnent-left -->

                            <div class="content-extra col-md-3 col-xs-12">
                                <div class="mobile-widget col-xs-12">
                                    <div class="widget-head col-xs-12">
                                        <h2>تطبيق لو خيروك</h2>
                                    </div>
                                    <div class="mob-img col-md-12 col-xs-12">
                                        <img src="images/m.png" alt="">
                                    </div>
                                    <div class="mob-data col-md-12 col-xs-12">
                                        <p>تستطيع الان الحصول علي تطبيق الموبايل الخاص بالموقع من خلال </p>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-android"></i> متجر اندرويد
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-apple"></i> متجر اَبل
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end mobile-widget -->
                            </div>
                        </div>
                        <!-- end container -->
                    </div>
                    <!-- end profile-content -->
                </div>
                <!-- end content-box -->
            </div>
            <!-- end main-content -->

            <footer>
                <div class="footer-body col-xs-12">
                    <div class="container">
                        <div class="rights col-md-6 col-sm-6 col-xs-6">
                            <p>
                                جميع الحقوق محفوظة &copy; 2016 لموقع لو خيروك
                            </p>
                            <ul>
                                <li>
                                    <a href="#">اعلن في الموقع</a>
                                </li>
                                <li>
                                    <a href="#">اتصل بنا</a>
                                </li>
                            </ul>
                        </div>
                        <div class="votes col-md-6 col-sm-6 col-xs-6">
                            <p>
                                <img src="images/favicon.ico" alt="">
                                <span>154.790.443 صوت</span>
                            </p>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
            </footer>
        </div>
        <!-- end mask-inner -->
        <div class="wrap-pop col-xs-12"></div>
    </div>
    <!-- end wrapper -->

    <!-- Js files -->
    <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-smoothscroll.js"></script>
    <script type="text/javascript" src="js/modernizr.min.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>