<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
    <title>لــو خيروك | صفحة خاصة بإضافة سؤال جديد</title>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- css files -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap-rtl.min.css">
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">

    <!-- favicon -->
    <link type="text/css" rel="icon" href="images/favicon.ico">

</head>

<body>

    <div class="wrapper  col-xs-12">
        <div class="mobile-nav">
            <div class="mobile-search">
                <form action="#" method="get">
                    <input type="search" placeholder="إبحث من هنا .." class="form-control">
                </form>
            </div>
            <ul class="mob-usr-logged">
                <li>
                    <a href="#">

                        <i class="fa fa-plus"></i>أضف سؤالك
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-user"></i>حسابي
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-star"></i>المفضلة
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-cog"></i>الاعدادات
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-power-off"></i>خروج
                    </a>
                </li>
            </ul>
            <ul class="mob-visitor">
                <li>
                    <a href="#">

                        <i class="fa fa-plus"></i>أضف سؤالك
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-user"></i>تسجيل دخول
                    </a>
                </li>
                <li>
                    <a href="#">

                        <i class="fa fa-user-plus"></i>تسجيل عضوية
                    </a>
                </li>
            </ul>
        </div>
        <!-- end mobile-nav -->
        <div class="mask-inner col-xs-12">
            <header>
                <div class="ads">
                    <div class="container">
                        <div class="ads-mask">
                            <h3>
                        <a href="#">منطقة مخصصة لوضع الاعلانات</a>
                    </h3>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end ads -->

                <div class="navigation">
                    <div class="container">
                        <div class="logo col-md-3 col-sm-3 col-xs-3">
                            <h1>
                            <a href="#" title="لو خيروك">
                                <img src="images/logo.png" alt="">
                            </a>
                                لو خيروك
                        </h1>
                        </div>
                        <!-- end logo -->


                        <div class="search-box col-md-4 col-sm-8 col-xs-8">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="إبحث عن اسئلــة ؟">
                                <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                            </div>
                        </div>
                        <!-- end search-box -->


                        <div class="nav-tools col-md-5 col-sm-1 col-xs-1">
                            <ul class="login-user">
                                <li>
                                    <a href="#">
                                        <span>أضف سؤالك</span>
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <img src="images/avatar5.png" alt="">
                                        <span>Amir Nageh</span>
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user"></i> حسابي
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-star"></i> المفضلة
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-cog"></i> الاعدادت
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-power-off"></i> خروج
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                            <ul class="visitor">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-plus"></i> أضف سؤالك
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user"></i> تسجيل الدخول
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user-plus"></i> تسجيل عضوية
                                    </a>
                                </li>
                            </ul>
                            <button type="button" class="show-nav-mob">
                                <i class="fa fa-outdent"></i>
                            </button>
                        </div>
                        <!-- end nav-tools -->
                    </div>
                    <!-- end container -->

                </div>
                <!-- end navigation -->
            </header>

            <div class="main-content col-xs-12">
                <div class="content-box col-xs-12">
                    <div class="container">
                        <div class="content-right col-md-7 col-sm-7 col-xs-12">
                            <div class="submit-box col-xs-12" ng-app="myApp" ng-controller="myCtrl">
                                <div class="submit-head">
                                    <h2>أضف سؤالك</h2>
                                </div>

                                <div class="submit-body col-xs-12">
                                    <div class="ques-preview col-xs-12">
                                        <p class="ques-title">{{ques_title}}</p>
                                        <p class="ques-prefix">{{ques_prefix}}</p>
                                        <div class="submit-cards col-xs-12">
                                            <div class="col-md-6 col-xs-12 orange-card card">
                                                <div class="inner col-xs-12">
                                                    <p>{{red_txt}}</p>
                                                </div>
                                            </div>
                                            <div class="ques-divider">

                                                <h3>أو</h3>

                                            </div>
                                            <div class="col-md-6 col-xs-12 blue-card card">
                                                <div class="inner col-xs-12">
                                                    <p>{{blue_txt}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="ques-extra">{{ques_add}}</p>
                                    </div>
                                    <!-- end ques-preview -->
                                    <div class="ques-form col-xs-12">
                                        <form action="#" method="get">
                                            <div class="input-group">
                                                <label for="ques-title">
                                                    <span>عنوان السؤال</span>
                                                </label>
                                                <input type="text" id="ques-title" class="form-control" ng-model="ques_title">
                                            </div>
                                            <div class="input-group">
                                                <label for="ques-prefix">
                                                    <span>اضافات (اختياري)</span>
                                                </label>
                                                <input type="text" id="ques-prefix" class="form-control" ng-model="ques_prefix">
                                            </div>
                                            <div class="input-group">
                                                <label for="ques-orange">
                                                    <span>الاختيار البرتقالي</span>
                                                </label>
                                                <textarea id="ques-orange" class="form-control" ng-model="red_txt"></textarea>
                                            </div>
                                            <div class="input-group">
                                                <label for="ques-blue">
                                                    <span>الاختيار الازرق</span>
                                                </label>
                                                <textarea id="ques-blue" class="form-control" ng-model="blue_txt"></textarea>
                                            </div>
                                            <div class="input-group">
                                                <label for="ques-extras">
                                                    <span>معلومات اضافية (اختياري)</span>
                                                </label>
                                                <textarea id="ques-extras" class="form-control" ng-model="ques_add"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary">إضافة</button>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> اضافة السؤال من مجهول
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- end ques-form -->
                                </div>
                            </div>
                            <!-- end submit-box -->
                        </div>
                        <!-- end contnent-right -->

                        <div class="content-left col-md-5 col-sm-5 col-xs-12">
                            <div class="recent-widget col-xs-12">
                                <div class="widget-head col-xs-12">
                                    <h2>اخر الاجابات</h2>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <p>انت تعتقد اننا
                                                <span>سنذهب لكاس العالم روسيا 2018</span> عن ان الكابتن مجدي هيفضل يذل فينا
                                            </p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <p>انت تعتقد اننا
                                                <span>سنذهب لكاس العالم روسيا 2018</span> عن ان الكابتن مجدي هيفضل يذل فينا
                                            </p>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <p>انت تعتقد اننا
                                                <span>سنذهب لكاس العالم روسيا 2018</span> عن ان الكابتن مجدي هيفضل يذل فينا
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="all-answers col-xs-12">
                                    <a href="#">
                                    إظهار جميع الإجابات
                                    <i class="fa fa-angle-double-left"></i> 
                                </a>
                                </div>
                            </div>
                            <!-- end recent-widget -->
                        </div>
                        <!-- end contnent-left -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end content-box -->
            </div>
            <!-- end main-content -->

            <footer>
                <div class="footer-body col-xs-12">
                    <div class="container">
                        <div class="rights col-md-6 col-sm-6 col-xs-6">
                            <p>
                                جميع الحقوق محفوظة &copy; 2016 لموقع لو خيروك
                            </p>
                            <ul>
                                <li>
                                    <a href="#">اعلن في الموقع</a>
                                </li>
                                <li>
                                    <a href="#">اتصل بنا</a>
                                </li>
                            </ul>
                        </div>
                        <div class="votes col-md-6 col-sm-6 col-xs-6">
                            <p>
                                <img src="images/favicon.ico" alt="">
                                <span>154.790.443 صوت</span>
                            </p>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
            </footer>
        </div>
        <!-- end mask-inner -->
        <div class="wrap-pop col-xs-12"></div>
    </div>
    <!-- end wrapper -->

    <!-- Js files -->
    <script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-smoothscroll.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/modernizr.min.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.ques_title = "عنوان السؤال";
            $scope.ques_prefix = "اضافات (اختياري)";
            $scope.red_txt = "الاختيار البرتقالي";
            $scope.blue_txt = "الاختيار الازرق";
            $scope.ques_add = "معلومات اضافية (اختياري)";
        });
    </script>
</body>

</html>